.footer{
    background-color:$bg;
    text-align: center;
}
.footer__1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px;
    .footer.box {
        justify-content: center;
}

}
.footer__box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__img-redes {
    margin: 8px;
    justify-content: center;
}
.footer__2 {
    padding: 15px;
    text-align: center;
    margin: auto;
}
@media screen and (max-width:480px) {
    .footer__1 {
        grid-template-columns: repeat(1, 1fr);
        padding: 25px;
    }
}