    .container {
        padding: 30px;
        article {
            padding: 10px;
            .link {
                color: #643927;
                text-decoration: none;
            }
        }
}
