main{
    .bordes {
        border-radius: 50px;
        opacity: .80;
        &:hover{
            border-radius: 50px;
            opacity: 1;
            transform: scale(1.1);
    }
}
.color {
        font-family: 'Kaushan Script', cursive;
        font-size: 1rem;
        color: $claro;
        background-color: $oscuro;
        padding: 10px;
        margin: 10px;
        border-radius: 50px;
        &:hover{
        background-color: $gris;
        transform: scale(1.0);
        }
    }
}