<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos una tienda online de productos de belleza con las mejores marcas del mercado. Manejamos descuentos especiales si compras al por mayor - Contáctanos">
    <meta name="keywords" content="Bases, Polvos, Correctores, Paletas de Sombras, Labiales, Brochas, Cuidado Facial ,  Barranquilla, Colombia">
    <link rel="icon" href="../assets/img/Logo Pymark.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Productos-Pymarkmakeup</title>
</head>

<body>
    <header class="header">
        <a href="https://api.whatsapp.com/send/?phone=573045269683&text=Hola Pymark Makeup, me gustaría más información"target="_blank"><img class="wts" src="../assets/img/logo whatsapp.png" alt="whatsapp"></a>
        <nav class="navbar navbar-expand-lg nav">
        <nav class="navbar navbar-expand-lg nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><img src="../assets/img/Logo Pymark.png" class="logo" alt="Logo marca"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" nav__a>
                            <a class="nav-link active nav__a" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active nav__a" aria-current="page" href="../views/productos.html">Productos</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link nav__a" href="../views/contacto.html">Contacto</a>
                        </li>
                        </li>
                    </ul>
                    <form class="d-flex " role="search ">
                        <input class="form-control me-2 " type="search " placeholder="Buscar... " aria-label="Search" style="border-radius: 50px;">
                        <button class="btn btn-outline-success " type="submit " style="background-color: black; color: aliceblue; border-radius:30px;">Buscar</button>
                    </form>
                </div>
            </div>
    </header>
    <main class="container ">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bordes">
                    <h3 class="card-title">Exfoliante facial</h3>
                    <img class="card-img-top" src="../assets/img/Exfoliante facial.png" alt=" exfoliante facial">
                    <div class="card-body">
                        <p class="card-text">Esta formulado con agentes tenso activos suaves, humectante, hidratantes, agentes de exfoliación obtenidos de la cascara del coco y el arroz, lo que nos ayuda a regenerar y humectar.</p>
                        <a href="#" class="btn btn-sm color">Comprar</a>
                        <a href="#" class="btn btn-sm color">Detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bordes">
                    <h3 class="card-title">Pulpas Hidratantes</h3>
                    <img class="card-img-top" src="../assets/img/Pulpa hidratante.png" alt="Pulpa hidratante">
                    <div class="card-body">
                        <p class="card-text">La pulpa hidratante con extracto de castaña es una formulación que combina de manera sinérgica agentes emulsionantes, para la piel, dejando la piel suave y con un alto grado de humectación.</p>
                        <a href="#" class="btn btn-sm color">Comprar</a>
                        <a href="#" class="btn btn-sm color">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bordes">
                    <h3 class="card-title">Base cremosa en barra</h3>
                    <img class="card-img-top" src="../assets/img/Base cremosa en barra.png" alt="Base cremosa">
                    <div class="card-body">
                        <p class="card-text">Base correctora cremosa con humectantes y filtro solar que ayuda a cubrir manchas, ojeras y pequeñas imperfecciones en puntos específicos de la piel del rostro y es fácil de expandir.</p>
                        <a href="#" class="btn btn-sm color">Comprar</a>
                        <a href="#" class="btn btn-sm color">Detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bordes">
                    <h3 class="card-title">Base liquida velvet touch</h3>
                    <img class="card-img-top" src="../assets/img/Base liquida velvet touch.png" alt="Base liquida">
                    <div class="card-body">
                        <p class="card-text">La base liquida te da alta cobertura durante todo el día, su fórmula de 24 horas cubre las imperfecciones y unifica el tono proporcionando un acabado luminoso y logra un acabado de piel.</p>
                        <a href="#" class="btn btn-sm color">Comprar</a>
                        <a href="#" class="btn btn-sm color">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bordes">
                    <h3 class="card-title">Labia en barra</h3>
                    <img class="card-img-top img-fluid" src="../assets/img/Labial en barra.png" alt="Labial en barra">
                    <div class="card-body">
                        <p class="card-text">Labial en barra humectante semi mate y metálico, de larga duración, textura cremosa, brindando hidratación y color en los labios.</p>
                        <a href="#" class="btn btn-sm color">Comprar</a>
                        <a href="#" class="btn btn-sm color">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bordes">
                    <h3 class="card-title">Labial líquido mate metálico</h3>
                    <img class="card-img-top" src="../assets/img/Labial líquido mate metálico.png" alt="Labial liquido">
                    <div class="card-body">
                        <p class="card-text">Labial líquido mate metálico está formulado para que lo apliques fácilmente y que se fije con un acabado mate aterciopelado y metálico.</p>
                        <a href="#" class="btn btn-sm color">Comprar</a>
                        <a href="#" class="btn btn-sm color">Detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bordes">
                    <h3 class="card-title">Mascarilla arcilla frutal </h3>
                    <img class="card-img-top" src="../assets/img/Mascarilla arcilla frutal.png" alt="Mascarilla">
                    <div class="card-body">
                        <p class="card-text">Es una formulación que combina agentes humectantes con ingredientes de origen mineral, alantoína y una mezcla de extractos frutales.</p>
                        <a href="#" class="btn btn-sm color">Comprar</a>
                        <a href="#" class="btn btn-sm color">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bordes">
                    <h3 class="card-title">56 Paleta de sombra</h3>
                    <img class="card-img-top" src="../assets/img/56 Paleta sombras.png" alt="Paleta">
                    <div class="card-body">
                            <p class="card-text">Sombras compactas en gran variedad de colores, que se complementan perfectamente para crear diferentes looks y combinación de colores.</p>
                        <a href="#" class="btn btn-sm color">Comprar</a>
                        <a href="#" class="btn btn-sm color">Detalles</a>
                    </div>
                </div>
            </div>
    </main>
    <footer class="footer">
        <div class="footer__1">
            <div class="footer__box">
                <figure>
                    <a href="../index.html"><img src="../assets/img/Logo Pymark.png" alt="Logo de la marca"></a>
                </figure>
            </div>
            <div class="footer__box">
                <h2>Sobre Nosotros</h2>
                <p>Somos una tienda en línea colombiana de cosméticos que ofrece las mejores marcas en productos para el cabello, uñas, maquillaje, tintes y mucho más.</p>
                <p>Nos encargamos de distribuir gran variedad de maquillaje de alta calidad, 100% originales.</p>
            </div>
            <div class="footer__box">
                <h2>Síguenos</h2>
                <div class="red-social">
                    <a href="https://api.whatsapp.com/send/?phone=573045269683&text=Hola Pymark Makeup, me gustaría más información" target="_blank"><img class="footer__img-redes" src="../assets/img/logo whatsapp.png" alt="whatsapp"></a>
                    <a href="https://www.facebook.com/Pymarkmakeup?mibextid=ZbWKwL" target="_blank"><img class="footer__img-redes" src="../assets/img/logo facebook.png" alt="facebook"></a>
                    <a href="https://instagram.com/pymarkmakeup?igshid=YmMyMTA2M2Y=" target="_blank"><img class="footer__img-redes" src="../assets/img/logo instagram.png" alt="instagram" target="_blank"></a>
                </div>
            </div>
        </div class="footer__2">
        <small>&copy; 2023 <b>Pymark Makeup</b> - Todos los Derechos Reservados</small>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>
